* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

body {
  width: 1920px;
  height: 1550px;
  background: #000000;
  /* background: gray; */
}

h1,
h2 {
  color: #ffffff;
}

.color-text {
  color: #ffffff;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 0 323px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.HBO-logo {
  height: 36px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 470px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.menu-list {
  display: inherit;
  list-style: none;
  gap: 43px;
}

.menu-list-link {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  font-family: inherit;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.btn-sign {
  width: 121px;
  height: 40px;
  background: #0059c1;
}

.sign {
  text-transform: uppercase;
  text-decoration: none;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.img-tlou {
  height: 100%;
  position: relative;
  z-index: -3;
}

.logo-tlou {
  position: absolute;
  width: 658px;
  left: 632px;
  top: 432px;

  z-index: -3;
}

.gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
}

.btn-play {
  display: flex;
  align-items: center;
  position: absolute;

  left: 862px;
  top: 625px;
}

.btn-form {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);

  border: none;
  cursor: pointer;
}

.btn-icon {
  position: absolute;
  right: 30%;
  top: 30%;
}

.btn-watch {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;

  color: rgba(255, 255, 255, 0.75);
}

.list {
  padding-top: 32px;
}

.scroll {
  display: flex;
  padding-top: 24px;
  gap: 24px;
  overflow-x: scroll;
}

#scroll-bar::-webkit-scrollbar {
  width: 0;
}

.serial-1 {
  position: relative;
}

/* .serial-1:hover > div {
  position: absolute;
} */

.serial-1:hover {
  border-radius: 12px;
  top: 0;
  backdrop-filter: blur(5px);
  visibility: visible;
  transform: translate(0);
  opacity: 1;
}

.img-serial {
  border-radius: 12px;
  cursor: pointer;
}

.description {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  padding: 0 15px 0;

  opacity: 0;
  visibility: hidden;
  transform: translate(0, -100%);

  transition: all 0.4s;

  /* z-index: 3; */
}

/* .description:hover {
  border-radius: 12px;
  top: 0;
  backdrop-filter: blur(5px);
  visibility: visible;
  transform: translate(0);

  opacity: 1;
} */

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #e3b100;
}

.icon-star {
  width: 14px;
  margin-right: 6.3px;
}

.score p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.about {
  display: flex;
  flex-direction: column;
}

.about h5 {
  margin-top: 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.about h4 {
  margin-top: 7px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.about p {
  margin-top: 6px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  color: #e8e8e8;
}

.watch {
  display: flex;
  padding: 10px 16px 10px 16px;
  background-color: #0059c1;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 12px;
  outline: none;
  justify-content: space-between;
  align-items: center;
}

.watch-play {
  width: 14px;
}

.section-cta {
  padding: 81px 0 32px 0;
}

.heading-secondary {
  margin-bottom: 24px;
}

.cta-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cta-box {
  position: absolute;
  z-index: 5;
  width: 502px;
  height: 296px;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border: 1px solid rgba(0, 89, 193, 0.5);
  border-radius: 12px;

  transition: all 0.7s;
  opacity: 1;
}

.cta-box:hover {
  z-index: 10;
}

.cta-cards:hover .cta-box:not(:hover) {
  opacity: 0.1;
}

.cta-box-1 {
  left: 0;
}

.cta-box-2 {
  left: 30%;
}

.cta-box-3 {
  right: 0;
}

.cta-content {
  padding: 32px;
}

.heading-primary {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.list-item {
  padding-top: 35px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.item {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.item:nth-child(3) {
  margin-bottom: 32px;
}

.btn-cta {
  display: flex;
  justify-content: flex-end;
}

.buy {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.trial {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.btn-buy {
  background: #e38b00;
  width: 147px;
  height: 40px;
  margin-right: 10px;
}

.btn-trial {
  background-color: transparent;
  box-shadow: 0 0 0 1px #e38b00;
  width: 147px;
  height: 40px;
}
