* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

body {
  width: 1920px;
  height: 1550px;
  background: #000000;
  /* background: gray; */
}

h2 {
  color: #ffffff;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 0 323px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.HBO-logo {
  height: 36px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 470px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.menu-list {
  display: inherit;
  list-style: none;
  gap: 43px;
}

.menu-list-link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.btn-sign {
  width: 121px;
  height: 40px;
  background: #0059c1;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.sign {
  text-transform: uppercase;
  text-decoration: none;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.img-tlou {
  height: 100%;
  position: relative;
  z-index: -3;
}

.logo-tlou {
  position: absolute;
  width: 658px;
  left: 632px;
  top: 432px;

  z-index: -3;
}

.gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%);
}

.btn-play {
  display: flex;
  align-items: center;
  position: absolute;

  left: 862px;
  top: 625px;
}

.btn-form {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);

  border: none;
  cursor: pointer;
}

.btn-icon {
  position: absolute;
  right: 30%;
  top: 30%;
}

.btn-watch {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  padding-left: 10px;

  color: rgba(255, 255, 255, 0.75);
}

.list {
  padding: 32px 0 81px 0;
}

.scroll {
  display: flex;
  padding-top: 24px;
  gap: 24px;
}

.img-serial {
  border-radius: 12px;
}
