* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

body {
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
}

.heading-primary {
  display: none;
}

/* SECTION HEADER */
.header {
  display: flex;

  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
}

.main-nav__list {
  display: inherit;
  list-style: none;
  gap: 43px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.main-nav__list:last-child {
  gap: 59px;
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.main-nav__link:hover {
  color: #ffffff;
}

.btn {
  font-family: inherit;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.btn-sign {
  display: inline-block;

  padding: 11px 33.56px;
  background: #0059c1;
  color: #ffffff;

  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.btn-sign:hover {
  background: rgba(0, 90, 193, 0.894);
  transition: all 0.3s ease-in-out;
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgb(0 0 0 / 20%);
}

/* SECTION HERO */

.hero {
  position: relative;
}

.hero__img {
  width: 1274px;
  height: 595px;
  background-repeat: no-repeat;
}

.hero__logo {
  position: absolute;
  width: 658px;
  height: 143px;
  left: 50%;
  top: 342px;
  transform: translate(-50%);
  background-repeat: no-repeat;
  z-index: 2;
}

.hero__sliders {
  position: absolute;
  width: 500px;
  height: 1px;
  top: 514px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(255, 255, 255, 0.5);
}

.hero__sliders-slider {
  position: absolute;
  width: 100px;
  height: 1px;
  background: #e3b100;
}

.hero__btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 535px;
}

.hero__btn-form {
  background: transparent;
  border: none;
  font-family: inherit;
}

.hero__btn-play {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
}

.hero__btn-play_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 20px;
  fill: #ffffff;
}

.hero__btn-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.hero__btn-text {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;

  color: rgba(255, 255, 255, 0.75);
}

.hero__btn-text:hover {
  color: #ffffff;
}

/* SECTION SCROLL-BAR */

.title-series h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.list {
  max-width: 1848px;
  margin: 0 auto;
}

.scroll {
  padding-left: 287px;
  overflow-x: auto;
}

.scroll-wrapper {
  display: flex;
  column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
}

.series {
  width: 210px;
  height: 300px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover .description {
  opacity: 1;
  border-radius: 12px;
}

.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 0;
  width: 210px;
  height: 300px;
  border-radius: 12px;
  padding: 20px;

  backdrop-filter: blur(5px);

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score__mark {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #e3b100;
}

.score__icon_star {
  width: 14px;
  margin-right: 6.3px;
}

.score p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.info {
  display: flex;
  flex-direction: column;
}

.info-season {
  margin-top: 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

.info h4 {
  font-weight: 900;
  margin-top: 7px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.info-description {
  margin-top: 6px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  color: #e8e8e8;
}

.btn-trailer-link {
  display: flex;
  padding: 10px 18px 10px 13px;
  background-color: #0059c1;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 12px;
  outline: none;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.btn-icon_play {
  width: 14px;
}

.btn-trailer-link:hover {
  background-color: rgba(0, 90, 193, 0.894);
  transition: all 0.3s ease-in-out;
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgb(0 0 0 / 20%);
}

/* SECTION CTA */

.section-cta {
  padding: 81px 0 32px 0;
}

.heading-secondary {
  letter-spacing: -0.4px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.section-cta__cards {
  position: relative;
  height: 296px;
}

.cta-box {
  position: absolute;

  width: 502px;
  height: 296px;

  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border: 1px solid rgba(0, 89, 193, 0.5);
  border-radius: 12px;

  transition: all 0.7s;
  opacity: 0.2;
}

.cta-box:hover {
  opacity: 1;
}

.section-cta__cards:hover .cta-box:not(:hover) {
  opacity: 0.1;
}

.cta-box__content {
  padding: 32px;
}

.cta-box_left {
  left: 0;
}

.cta-box_center {
  left: 30.2%;
  opacity: 1;
}

.cta-box_right {
  right: 0;
}

.heading-tertiary {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.cta-box__content-item {
  padding-top: 35px;
  padding-left: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.cta-box__content-item li:not(:last-child) {
  margin-bottom: 16px;
}

.cta-box__btn {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.cta-box__btn-buy {
  background: #e38b00;
  width: 147px;
  height: 40px;
  margin-right: 10px;

  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.cta-box__btn-buy:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px #e38b00;
  transition: all 0.2s;
}

.cta-box__btn-trial {
  background-color: transparent;
  box-shadow: 0 0 0 1px #e38b00;
  width: 147px;
  height: 40px;

  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.cta-box__btn-trial:hover {
  background: #e38b00;
  transition: all 0.2s;
}
